<div class="navBar displayStyleFlex">
  <div class="navTitleContainer displayStyleFlex">
    <div id="navLogo"></div>
    <div class="navTitle">
      Registrations
    </div>
  </div>
  <div class="navCross"></div>
  <div class="navMenuContainer">
    <div class="submissionsMenuContainer displayStyleFlex">
      <div id="hamburgerIcon"></div>
      <div class="submissionsMenuText">Submissions</div>
    </div>
    <div class="profileContainer displayStyleFlex">
      <div id="navProfileLogo"></div>
      <div class="clubName">The FA</div>
      <span class="verticalLine">|</span>
      <div class="userName">Tim</div>
      <div class="navDropdownArrow"></div>
    </div>

  </div>
</div>
