.navBar
{
  height:40px;
  text-transform: uppercase;
  border-left: 1px solid #303030;
  border-bottom: 1px solid #303030;
  font-size: 13px;
}
.displayStyleFlex
{
  display:flex;
}
#navLogo
{
  background-image: url('../../assets/images/falogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0px;
  width: 21px;
  height: 21px;
}
.navTitleContainer
{
  width:155px;
  margin: 0px 0px 0px 10px;
}
.navTitle
{
  margin: 13px 0px 0px 10px;
  font-family: avernirBold;
  letter-spacing: 2px;
}
.navCross
{
  border-left: 40px solid transparent;
  border-bottom: 40px solid #303030;

}
.navMenuContainer
{
  background-color: #303030;
  width:1145px;
}
.submissionsMenuContainer
{
  float: left;
  cursor:pointer;
}
.profileContainer
{
  float: right;
  margin: 0px 30px 0px 0px;
}
#hamburgerIcon
{
  background-image: url('../../assets/images/submissions-menu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 13px 17px;
  margin: 7px 0px;

}
.submissionsMenuText,.clubName,.userName
{
  color:#71767a;
  margin: 13px 0px;
  font-family: avernirBold;
  text-transform: none;
  font-size: 14px;
}
.submissionsMenuText
{
  text-transform: uppercase;
  color:#caccce;
}
#navProfileLogo
{
  background-image: url('../../assets/images/falogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 16px;
  margin: 9px 0px;

}
.verticalLine
{
  color:#fff;
  margin: 11px 10px;
}
.navDropdownArrow
{
  background-image: url('../../assets/images/arrow-down-solid-grey.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0px 16px;
  margin: 9px 0px 9px 9px;
}
