.searchBarContainer
{
  height: 100px;
  background-image:url('/assets/Images/Top of submission.png');
  background-color: rgba(0,0,0,0.90);
  display:flex;
  font-size: 20px;
  text-transform: uppercase;
  font-family: avernirBold;
}
.componentName
{
  padding: 38px 20px;
  color: #fff;
  font-family: avernirMedium;
}
.searchInput
{
  width: 450px;
  height: 30px;
  background-image: url(/assets/Images/ic_search_black_24px.svg);
  background-repeat: no-repeat;
  background-position: 10px 7px;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.07);
  background-size: 20px;
  border:none;
  font-size:14px;
  font-family: avernirBold;
  color: #e8e8e8;
  text-indent:40px!important;
}
.searchBar
{
  padding: 35px;
  margin-left:200px;


}

.searchInput::placeholder {
    padding-left: 30px;
    color: #e8e8e8;
    opacity: 0.3;
    font-family: avernirRegular;
    font-weight: bold;
    font-size: 14px;
    text-indent:10px!important;
}
















.submissionsMenu
{
  font-family: avernirMedium;
  text-transform: uppercase;
  font-size: 18px;
  height: 70px;
}
.totalSubmissions
{
  width: 150px;
  float: left;
  padding: 20px 20px;
}
.filtersContainer
{
  font-size: 14px;
  float: right;
  padding: 20px 20px;
}
.displayStyleFlex
{
  display: flex;
}
.filtersContainer
{
  float: right;
}
.customCheckBox
{
  -webkit-appearance: none;
	background: url('../../../assets/Images/ic_check_box.svg');
  background-size: contain;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.customCheckBox:checked {
	background: url('/assets/Images/ic_check_box_checked.svg');
  background-size: contain;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.dropdownIcon
{
  background: url('../../../assets/Images/arrow-down.svg');
	background-size: contain;
	width: 25px;
	height: 25px;
  margin-top: -4px;
}
.dropdownIconInverted
{
  background: url('../../../assets/Images/arrow-down.svg');
	background-size: contain;
	width: 25px;
	height: 25px;
  margin-top: -4px;
  transform: rotate(180deg);
}
.showFilterContainer
{
  padding-left: 25px;
  width: 141px;
}
.showFilter
{
  width: 92px;
}
.clearFilterIcon
{
  background: url('../../../assets/Images/Clearfilters.svg');
	width: 19px;
	height: 17px;
	background-repeat: no-repeat;
  margin: 0px 10px 0px 15px;
}
.checkboxValue,.clearFilterContainer,.showFilterContainer
{
  margin-top: 6px;
  color:#3a3c42;
}
.assignedToMeCheckBox
{
  margin: 0px 10px;
}
.filters
{
  height: 100px;
  border:1px solid #bfc0c1;
  background: #f2f3f4;
}
.selectStyle
{
  height:30px;
  color: #555;
  font-family: avernirMedium;
  width: 150px;
}
.filters div
{
  padding: 10px 0px 10px 0px;
}
.marginRemove
{
  margin-bottom: -7px;
  text-transform: uppercase;
  font-family: avernirMedium;
  font-size: 12px;
  color: #9799a0;
}
.filterStatus,.filterRegistrationType,.filterRegisteringClub,.filterAssignees,.filterSections,.filterPendingSections
{
  width: 160px;
}
.filterinputStyle
{
  height:25px;
  color: #555;
  font-family: avernirMedium;
  background-image: url("/assets/Images/ic_search_grey.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px 5px;
  border:1px solid rgb(169, 169, 169);
  width: 150px;
  text-indent: 25px!important;

}
.filterinputStyle::placeholder {
    opacity: 0.4;
    font-family: avernirRegular;
    font-weight: bold;
    font-size: 14px;
}
.filterStatus
{
  margin: 0px 0px 0px 20px;
}
