.playerTitleContainer
{
  height: 100px;
  background-image:url('/assets/Images/Top of submission.png');
  background-color: rgba(0,0,0,0.85);
  font-size: 12px;
  text-transform: uppercase;
  font-family: avernirMedium;
  font-weight:bold;
  color:#fff;
}
.registrationID
{
  color: #9a9c9e;
}
.backButton
{
  width: 175px;
  padding: 25px 50px;
}
.backButtonText
{
  cursor:pointer;
}
.registrationTypeContainer
{
  margin:auto;
  width:250px;
  text-align:center;
  margin: 20px auto 0px auto;
}
.assignedToContainer
{
  width: 170px;
  margin:10px 10px 0px 0px;
  float:right;
}
.registrationType
{
  font-size:22px;
}
.formsCommentsTabContainer
{
  box-shadow: 1px 1px 1px #555;
  height:40px;
  width:1200px;
  position: absolute;
  top: 120px;
  left: 50px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: avernirDemi;
  font-size:14px;
  background-color: #fff;

}

.formsCommentsTab
{
  margin: 10px auto;
  width: 100px;
  cursor: pointer;
  font-family: avernirMedium;
  font-weight: bold;
}
.formsTab,.commentsTab
{
  margin: 0px 15px;
}
.commentsTab
{
  color:#9a9c9e;
}
.processButtonGroup
{
  float: right;
  margin: 28px 50px 0px 0px;
}
.leftTabIcon,.rightTabIcon
{
  height:35px;
  width:35px;
  border: 1px solid dodgerblue;
  margin-left: 10px;
  border-radius: 2px;
}
.leftTabIcon
{
  background-image: url('/assets/Images/ic_blue_arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transform: rotate(180deg);
}
.rightTabIcon
{
  background-image: url('/assets/Images/ic_blue_arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.rejectButton,.approveButton,.moreButtonContainer,.updateButton,.cancelButton,.editButton
{
  font-family: avernirRegular;
  font-weight: bold;
  width: 86px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
  margin-left: 10px;
  padding: 10px 10px;
  cursor:pointer;
}
.rejectButton,.cancelButton
{
  background-color: #ea382e;
}
.approveButton,.updateButton
{
  background-color:#24ad5e;
}
.moreButtonContainer
{
  background-color:#cfd0d3;
  color:#4b4c4f;
  width: 70px;
}
.editButton
{
  background-color:#cfd0d3;
  color:#4b4c4f;
}
.verticalLine
{
  border-right: 1px solid #9fa0a3;
  margin: -10px 0px -10px 5px;
}
.moreButtonArrow
{
  background-image: url('/assets/Images/arrow-down-solid-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  width: 20px;
  margin-left:8px;
}
.assignedToText
{
  margin-top:9px;
  margin-right:9px;
}
